:root {
  --text-main: #404450;
  --text-secondary: #7c7c8c;
  --text-inactive: #b7b7ca;
  --text-link: #6abc00;
  --interface-active: #89d971;
  --interface-show-active: #60cf3e5c;
  --interface-error: #e96969;
  --interface-main: #f4f6f9;
  --interface-hover: #e5eaf2;
  --btn-green-hover: #7acb39;
  --white-color: #ffffff;
}
html {
  font-family: "Gilroy";
  color: var(--text-main);
  background-color: var(--interface-main);
}
h1 {
  font-size: clamp(17px, 1.3vw, 24px);
  font-style: normal;
  font-weight: 800;
  line-height: clamp(15px, 1.2vw, 22px);
  letter-spacing: 0.05em;
  text-align: left;
}
h2 {
  /* styleName: Заголовок h1; */
  font-size: clamp(48px, 4vw, 68px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(43px, 3vw, 61px);
  letter-spacing: 0em;
  text-align: left;
}
h3 {
  /* styleName: Заголовок h2; */
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
main {
  overflow: hidden;
}
.sub-title-1 {
  /* styleName: Подзаголовок 1; */
  font-size: clamp(21px, 1.5vw, 30px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(25px, 2vw, 35px);
  letter-spacing: 0em;
  text-align: left;
}
.sub-title-2 {
  /* styleName: Подзаголовок 2; */
  font-size: clamp(18.5px, 1.4vw, 26px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(22px, 1.6vw, 31px);
  letter-spacing: 0em;
  text-align: left;
}
.sub-title-3 {
  /* styleName: Подзаголовок 3; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.main-text-1 {
  /* styleName: Основной 1; */
  font-size: clamp(14px, 1vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(15px, 1vw, 21px);
  letter-spacing: 0em;
  text-align: left;
}
.main-text-1-active {
  /* styleName: Основной 1 акцент; */
  font-size: clamp(14px, 1vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(15px, 1vw, 21px);
  letter-spacing: 0em;
  text-align: left;
}
.main-text-2 {
  /* styleName: Основной 2; */
  font-size: clamp(12px, 1vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(13px, 1vw, 19px);
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-secondary);
}
.text-field {
  /* styleName: Поле; */
  font-size: clamp(12px, 1vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(13px, 1vw, 19px);
  letter-spacing: 0.01em;
  text-align: left;
}
.text-under-field {
  /* styleName: Подписи; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-secondary);
}
.text-btn {
  /* styleName: Кнопки; */
  font-size: clamp(13px, 1vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(15px, 1.5vw, 22px);
  letter-spacing: 0.01em;
  text-align: left;
}
h1 .strong {
  margin-left: 7px;
}
.strong {
  color: var(--interface-active);
}
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding-right: clamp(70px, 5.3vw, 100px);
  padding-left: clamp(70px, 5.3vw, 100px);
  width: 100%;
  z-index: 1;
  position: relative;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: space-between;
  padding-top: clamp(26px, 1.9vw, 35px);
  padding-bottom: clamp(26px, 1.9vw, 35px);
  z-index: 3;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.header-nav {
  justify-content: space-between;
}
.header-title {
  align-items: center;
  margin-right: clamp(40px, 3.2vw, 60px);
}
.header-nav-list {
  /* max-width: 500px; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.main-text-1 a,
.main-text-2 a {
  text-decoration: unset;
  color: inherit;
  transition: all 0.3s;
}
.main-text-1 a:hover,
.main-text-2 a:hover {
  color: var(--text-link);
  /* font-weight: 500; */
}
.aside-content {
  justify-content: space-between;
  align-items: center;
}
.login-wrapper {
  align-items: center;
  color: var(--text-link);
}
a.login-wrapper {
  color: var(--text-link);
}
.header ul li:not(:first-child) {
  margin-left: clamp(40px, 3.2vw, 60px);
}
.login-img-wrapper {
  width: clamp(16px, 1.2vw, 23px);
  margin-right: clamp(11px, 1vw, 15px);
}
section {
  position: relative;
  /* overflow: hidden; */
}
section .content {
  /* height: 110vh; */
  height: clamp(760px, 110vh, 1070px);
}
.first-section .content {
  padding-top: clamp(26px, 1.9vw, 35px);
  justify-content: center;
  max-width: clamp(430px, 36vw, 597px);
}

.video {
  position: absolute;
  left: 0;
  /* right: 0; */
  top: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  z-index: 0;
}
section .content .section-title {
  margin-bottom: clamp(24px, 1.5vw, 30px);
}

.first-section .sub-text {
  max-width: clamp(250px, 25vw, 347px);
  margin-bottom: clamp(30px, 2.5vw, 42px);
}
.sub-text {
  color: var(--text-secondary);
}
.btn {
  position: relative;
  padding: clamp(9px, 0.8vw, 13px) clamp(24px, 1.9vw, 34px);
  border-radius: clamp(21px, 1.8vw, 30px);
  border: none;
  color: var(--white-color);
  width: max-content;
  height: min-content;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0px 20px 32px 0px var(--interface-show-active);
}
/* .btn.shadow::after {
  position: absolute;
  content: "";
  left: 34px;
  right: 34px;
  top: 6px;
  height: 100%;
  filter: blur(40px);
  border-radius: 30px;
  z-index: -1;
}
.btn.green::after {
  background: var(--btn-green-hover);
} */
.btn.green {
  background-color: var(--interface-active);
}
.btn.green:hover {
  background-color: var(--btn-green-hover);
}

.second-section .content {
  padding-top: clamp(135px, 10vw, 190px);
  justify-content: start;
  align-items: center;
}
.second-section .content > div {
  max-width: clamp(400px, 30vw, 550px);
}

.second-section .sub-text {
  text-align: center;
  margin-bottom: clamp(29px, 2vw, 40px);
}

.third-section .content {
  padding-top: clamp(170px, 11.3vw, 239px);
  justify-content: start;
  align-items: center;
}

.third-section .sub-text {
  max-width: 550px;
  text-align: center;
  margin-bottom: clamp(70px, 6.3vw, 100px);
}
.card-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  gap: clamp(20px, 1.3vw, 30px);
  width: 100%;
  /* height: clamp(289px, 20vw, 357px); */
}
.card-wrapper {
  position: relative;
  /* width: clamp(230px, 19.5vw, 407px); */
  width: 100%;
  padding: clamp(30px, 2.1vw, 43px) clamp(23px, 1.5vw, 32px)
    clamp(42px, 2.9vw, 59px);
  background: linear-gradient(225deg, #ffffff 0%, #e5e7ee 100%);
  border-image-source: linear-gradient(225deg, #e9ecf7 0%, #ffffff 100%);
  border-radius: 28px;
  transition: all 0.3s;
}
.card-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 28px;
  padding: 2px;
  background: linear-gradient(225deg, #e9ecf7 0%, #ffffff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
.card-wrapper::before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 32px;
  right: 32px;
  top: 42px;
  height: 100%;
  background: rgba(213, 220, 232, 0.5);
  filter: blur(40px);
  border-radius: 28.0875px;
}
.card-wrapper .color {
  position: relative;
  width: clamp(25px, 2vw, 35px);
  height: clamp(25px, 2vw, 35px);
  margin-right: clamp(14px, 1.3vw, 20px);
  border-radius: 50%;
  box-shadow: inset -1px 4px 4px rgba(0, 0, 0, 0.1);
}
.card-wrapper .color::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(225deg, #cccdd1 0%, #ffffff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.card-wrapper .color.yellow {
  background-color: #e9dc69;
}
.card-wrapper .color.blue {
  background-color: #69b3e9;
}
.card-wrapper .color.red {
  background-color: var(--interface-error);
}
.card-wrapper .color.violet {
  background-color: #9c7be1;
}
.card-title {
  margin-bottom: clamp(24px, 2vw, 34px);
}

.card-items {
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(17px, 1.4vw, 25px);
}
.card-items.have-options {
  margin-bottom: clamp(14px, 1.1vw, 20px);
}
.card-items > .flex-row {
  align-items: center;
}
.card-items .options {
  position: relative;
  padding: 5px 13px;
  background-color: #f3f4f7;
  border-radius: 10px;
}
.card-items .options::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(225deg, #ffffff 0%, #cccdd1 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.card-items .card-text {
  margin-right: 10px;
}
.card-wrapper:hover .card-btn {
  display: flex;
  animation: fadeInFromNone 1s;
}
.card-wrapper:hover::before {
  left: 0;
  top: 0;
  right: 0;
  background: rgba(213, 220, 232, 0.7);
  filter: blur(20px);
}

.btn-wrapper {
  justify-content: center;
}
.card-btn {
  display: none;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(50px);
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}
.forth-section .content {
  padding-top: clamp(200px, 15vw, 282px);
  justify-content: start;
  align-items: center;
}
.forth-section .section-title {
  max-width: 875px;
  text-align: center;
}
.forth-section .section-title h2,
.third-section .section-title h2 {
  text-align: center;
}
.forth-section .sub-text {
  max-width: 550px;
  text-align: center;
  margin-bottom: clamp(70px, 6.3vw, 100px);
}

.fifth-section .content {
  padding-top: 142px;
  justify-content: start;
  align-items: center;
  height: auto;
}
.fifth-section .section-title {
  max-width: 875px;
}
.fifth-section .sub-text {
  max-width: 550px;
  text-align: center;
  margin-bottom: clamp(42px, 3.2vw, 60px);
}

.sixth-section .content {
  padding-top: clamp(177px, 13vw, 249px);
  justify-content: start;
  align-items: center;
}
.sixth-section .section-title {
  max-width: 875px;
}
.sixth-section .sub-text {
  max-width: 550px;
  text-align: center;
  margin-bottom: 100px;
}
.sixth-section .sub-title-1 {
  margin-bottom: 12px;
}
.sixth-section .sub-text.second-sub-text {
  /* margin-bottom: clamp(70px, 6.3vw, 100px); */
  margin-bottom: clamp(64px, 4.8vw, 91px);
}

.sixth-section .green-box {
  position: relative;
  color: var(--text-link);
  padding: 25px 16px;
  max-width: 550px;
  border: 4px solid var(--text-link);
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}

.sixth-section .green-box::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 7px;
  height: 100%;
  border: 4px solid rgba(96, 207, 62, 0.51);
  box-sizing: border-box;
  filter: blur(20px);
  border-radius: 20px;
  pointer-events: none;
}
.seventh-section .content {
  padding-top: clamp(113px, 8.4vw, 160px);
  justify-content: start;
  align-items: center;
}
.blog-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(20px, 1.3vw, 30px);
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: clamp(70px, 5.2vw, 100px);
  padding-bottom: clamp(40px, 3.3vw, 60px);
}
.blog-item-wrapper {
  position: relative;
  justify-content: end;
  padding: clamp(14px, 1.3vw, 20px) clamp(18px, 1.5vw, 26px);
  /* width: clamp(290px, 19.5vw, 407px); */
  height: clamp(315px, 24vw, 444px);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 41.15%,
      rgba(0, 0, 0, 0.75) 85.94%
    ),
    url(../assets/img/647609700d6a5e9a12de3ababde64521.jpeg);
  border-radius: clamp(19px, 1.5vw, 28px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: var(--white-color);
  transition: all 0.5s;
}
.blog-item-wrapper:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: clamp(19px, 1.5vw, 28px);
  padding: 2px;
  background: linear-gradient(225deg, #e9ecf7 0%, #ffffff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.blog-item-wrapper::after {
  position: absolute;
  content: "";
  left: 26px;
  right: 26px;
  top: 130px;
  height: 100%;
  background: rgba(213, 220, 232, 0.5);
  filter: blur(40px);
  border-radius: clamp(19px, 1.5vw, 28px);
  z-index: -1;
}
.blog-card-content {
  display: none;
  opacity: 0;
}
.blog-item-wrapper:hover {
  padding: clamp(14px, 2.1vw, 20px);
  padding-bottom: clamp(37px, 2.9vw, 52px);
  background: url(../assets/img/647609700d6a5e9a12de3ababde64521.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -290px;
  background-position-x: center;
}
.blog-item-wrapper:hover .blog-card-content {
  display: block;
  opacity: 1;
}
.blog-item-wrapper:hover .sub-title-2 {
  color: var(--text-main);
}
.blog-item-wrapper:hover .main-text-2 {
  color: var(--text-secondary);
}
.blog-item-wrapper .date {
  color: #fff;
  margin-bottom: clamp(20px, 1.5vw, 30px);
}
.blog-card-content {
  margin-top: clamp(14px, 1.2vw, 20px);
}
.blog-slider-dots {
  margin-bottom: clamp(30px, 3vw, 40px);
}
.blog-slider-dots .dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--interface-hover);
}
.blog-slider-dots .dots:nth-child(2) {
  margin: 0 10px;
}
.blog-slider-dots .dots.active {
  background-color: var(--interface-active);
}
.all-news {
  overflow: hidden;
  position: relative;
  padding: 13px 34px;
  border: 2px solid var(--text-main);
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 0.4s;
  cursor: pointer;
}
.all-news span {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: var(--text-main);
  width: 0;
  height: 0;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.all-news:hover {
  color: #fff;
  border-color: transparent;
}
.all-news:hover span {
  width: 370px;
  height: 370px;
}
.eights-section .content {
  /* padding-top: clamp(286px, 21vw, 403px); */
  /* justify-content: start; */
  justify-content: center;
  align-items: center;
}
.eights-section .section-title {
  max-width: 875px;
}
.eights-section .sub-text {
  max-width: 550px;
  text-align: center;
  margin-bottom: clamp(42px, 3.2vw, 60px);
}
.form-wrapper {
  margin-bottom: clamp(50px, 3.7vw, 70px);
}
input[type="email"] {
  padding: clamp(11px, 1vw, 16px) clamp(24px, 2vw, 33px);
  position: relative;
  background-color: var(--white-color);
  box-shadow: inset -1px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
}
.email-input {
  margin-right: clamp(28px, 2.1vw, 40px);
}
input[type="email"]::placeholder {
  color: var(--text-inactive);
}
input[type="email"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  padding: 2px;
  background: linear-gradient(225deg, #efefef 0%, #f9f9f9 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
.content-form-wrapper {
  align-items: center;
}

.input-wrapper {
  position: relative;
}
.input-placeholder-on-active {
  opacity: 1;
  position: absolute;
}
.email-input:focus ~ .input-placeholder-on-active {
  opacity: 1;
  position: absolute;
}
footer {
  padding-bottom: 20px;
  padding-top: 37px;
}
footer .wrapper {
  width: 100%;
  justify-content: space-between;
}

footer .title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 60px;
}
.footer-info {
  width: 60%;
  justify-content: space-between;
}
footer .contact-info {
  margin-bottom: 50px;
}
footer .contact-info div:not(:last-child) {
  margin-bottom: 20px;
}
.footer-nav-items div:not(:last-child) {
  margin-bottom: 20px;
}
.fake {
  opacity: 0;
  pointer-events: none;
}
.footer-additional-info {
  justify-content: space-between;
}
.burger-dots {
  display: none;
}
.footer-additional-info.mobile {
  display: none;
}
@media screen and (max-width: 1100px) {
  h2 {
    /* styleName: Заголовок h1; */
    font-size: clamp(40px, 4vw, 48px);
    line-height: clamp(36px, 3vw, 43px);
  }
  .sub-title-1 {
    font-size: clamp(17px, 1.6vw, 21px);
    line-height: clamp(20px, 1.9vw, 25px);
  }
  .sub-title-2 {
    font-size: clamp(12px, 1.1vw, 17px);
    line-height: clamp(13px, 1.3vw, 20px);
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .wrapper {
    padding-left: clamp(20px, 3vw, 30px);
    padding-right: clamp(20px, 3vw, 30px);
  }
  section .content {
    /* height: 110vh; */
    height: clamp(570px, 110vh, 760px);
  }
  section .content .section-title {
    margin-bottom: clamp(20px, 1.5vw, 24px);
    max-width: 600px;
  }
  .content .sub-text {
    margin-bottom: clamp(26px, 2.5vw, 30px);
  }
  .main-text-1 {
    font-size: clamp(13px, 1vw, 14px);
    line-height: clamp(14px, 1vw, 15px);
  }
  .second-section .content {
    padding-top: clamp(78px, 7.6vw, 135px);
  }
  .third-section .content {
    padding-top: clamp(108px, 10.5vw, 170px);
  }
  .third-section .sub-text {
    max-width: clamp(400px, 29vw, 550px);
    margin-bottom: clamp(60px, 6.3vw, 70px);
  }
  .card-wrapper {
    /* width: clamp(228px, 19.5vw, 290px); */
    /* gap: 17px; */
    padding: 25px 16px 30px;
    border-radius: 16px;
  }
  .card-wrapper::after,
  .card-wrapper::before {
    border-radius: 16px;
  }
  .card-title {
    margin-bottom: clamp(19px, 2vw, 24px);
  }
  .card-items {
    margin-bottom: clamp(10px, 1.4vw, 17px);
  }
  .card-items.have-options {
    margin-bottom: clamp(9px, 1.1vw, 14px);
  }
  .card-wrapper .color {
    position: relative;
    width: clamp(19px, 1.8vw, 25px);
    height: clamp(19px, 1.8vw, 25px);
    margin-right: clamp(14px, 1.3vw, 20px);
  }
  .card-items .options {
    padding: 2px 5px;
    border-radius: 5px;
  }
  .card-wrapper .color::after {
    padding: 1px;
  }
  .card-items .card-text {
    margin-right: 4px;
  }
  .forth-section .content {
    padding-top: clamp(118px, 11.5vw, 200px);
  }
  .sixth-section .content {
    padding-top: clamp(86px, 8.5vw, 177px);
  }
  .sixth-section .content .sub-text {
    max-width: 380px;
    margin-bottom: 30px;
  }
  .sixth-section .green-box {
    max-width: 334px;
    padding: 23px 16px;
  }
  .seventh-section .content {
    padding-top: clamp(61px, 5.9vw, 113px);
  }
  .blog-content {
    margin-top: clamp(60px, 5.2vw, 70px);
    padding-bottom: clamp(30px, 2.9vw, 40px);
  }
  .blog-item-wrapper {
    height: clamp(248px, 20vw, 315px);
  }
  .blog-item-wrapper .date {
    margin-bottom: clamp(13px, 1.3vw, 20px);
  }
  .form-wrapper {
    margin-bottom: clamp(40px, 3.7vw, 50px);
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 24px;
    line-height: 22px;
  }
  h2 {
    /* styleName: Заголовок h1; */
    font-size: clamp(42px, 10vw, 68px);
    line-height: clamp(50px, 12.1vw, 61px);
  }
  .sub-title-1 {
    /* styleName: Подзаголовок 1; */
    font-size: 30px;
    line-height: 35px;
  }
  .sub-title-2 {
    /* styleName: Подзаголовок 2; */
    font-size: 26px;
    line-height: 31px;
  }
  .main-text-1 {
    /* styleName: Основной 1; */
    font-size: 18px;
    line-height: 21px;
  }
  .main-text-1-active {
    /* styleName: Основной 1 акцент; */
    font-size: 18px;
    line-height: 21px;
  }
  .main-text-2 {
    /* styleName: Основной 2; */
    font-size: 16px;
    line-height: 19px;
  }
  .text-btn {
    /* styleName: Кнопки; */
    font-size: 18px;
    line-height: 21px;
  }
  .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .text-field {
    /* styleName: Поле; */
    font-size: 16px;
    line-height: 19px;
  }
  section .content {
    /* height: 110vh; */
    height: clamp(760px, 110vh, 1024px);
  }
  .header-nav-list {
    display: none;
  }
  .burger-dots {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 32px;
    cursor: pointer;
  }
  .login-wrapper .main-text-1-active {
    display: none;
  }
  .header ul li:not(:first-child) {
    margin-left: clamp(40px, 7.8vw, 60px);
  }
  .aside-content {
    height: 32px;
  }
  .login-img-wrapper {
    width: 32px;
    margin-right: 0;
  }
  .burger-dots span,
  .burger-dots::after,
  .burger-dots::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--text-main);
    border-radius: 50%;
    transition: all 0.5s;
  }
  .burger-dots::after {
    top: 0;
  }
  .burger-dots::before {
    bottom: 0;
  }
  .first-section .content {
    padding-top: 0;
    max-width: 600px;
  }
  .video {
    width: unset;
  }
  #video-in-first-section {
    transform: translate(-30%, 0);
  }
  .second-section .content {
    padding-top: 195px;
  }
  .second-section .content > div {
    max-width: 550px;
  }
  section .content .section-title {
    margin-bottom: clamp(20px, 4.8vw, 30px);
  }
  .first-section .sub-text {
    margin-bottom: 42px;
  }
  .btn {
    padding: 13px 34px;
    border-radius: 30px;
  }
  .content .sub-text {
    margin-bottom: 40px;
  }
  .third-section .content {
    padding-top: 150px;
  }
  .content .sub-text {
    max-width: 550px;
  }
  .third-section .sub-text {
    margin-bottom: clamp(40px, 12vw, 100px);
  }
  .card-wrapper {
    width: 407px;
    padding: 43px 32px;
    border-radius: 28px;
  }
  .card-wrapper .color {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }
  .card-wrapper .card-btn {
    display: flex;
    margin-top: 30px;
  }
  .card-items .card-text {
    margin-right: 10px;
  }
  .card-items .options {
    padding: 5px 13px;
  }
  .forth-section .content {
    padding-top: 120px;
  }
  .forth-section .content .section-title {
    max-width: 620px;
  }
  .fifth-section .content {
    height: clamp(760px, 110vh, 1024px);
    padding-top: 0px;
    justify-content: center;
  }
  #video-in-sixth-section {
    width: 1554px;
    transform: translateX(-25%);
  }
  .sixth-section .content {
    padding-top: 0px;
    justify-content: center;
  }
  .sixth-section .section-title h2 {
    text-align: center;
  }
  .sixth-section .content .section-title {
    max-width: 660px;
  }
  .sixth-section .content .sub-text {
    max-width: 553px;
    margin-bottom: clamp(40px, 12vw, 100px);
  }
  .sixth-section .green-box {
    max-width: 553px;
  }
  .sixth-section .sub-text.second-sub-text {
    margin-bottom: 90px;
  }
  .seventh-section .content {
    padding-top: 0px;
    justify-content: center;
  }
  .seventh-section .content .section-title {
    margin-bottom: clamp(40px, 12vw, 100px);
  }
  .blog-content {
    margin-top: 0;
  }
  .blog-item-wrapper {
    width: 407px;
    height: 444px;
    border-radius: 28px;
    padding: 20px 26px;
  }
  .blog-item-wrapper::after {
    border-radius: 28px;
  }
  .blog-item-wrapper:hover::before {
    border-radius: 28px;
  }
  .blog-content {
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  .blog-slider-dots {
    margin-bottom: 40px;
  }
  #video-in-eights-section {
    transform: translateX(-13%);
    width: 1050px;
  }
  .eights-section .content {
    height: 588px;
  }
  input[type="email"] {
    padding: 16px 33px;
  }
  .email-input {
    margin-right: 40px;
  }
  .footer-info {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 645px) {
  .aside-content .tel {
    display: none;
  }
  section .content {
    /* height: 110vh; */
    height: clamp(568px, 110vh, 896px);
  }
  #video-in-first-section {
    transform: translate(-60%, -10%);
  }
  #video-in-second-section {
    width: 1096px;
    height: 666px;
    transform: translate(-4vw, 20vh);
  }
  .second-section .content {
    padding-top: 0;
    justify-content: center;
  }
  .header ul li:not(:first-child) {
    margin-left: clamp(20px, 7.8vw, 60px);
  }
  .header-title {
    margin-right: 0px;
  }
  .card-wrapper {
    width: 85vw;
    padding: 45px 15px;
  }
  .sixth-section .content,
  .seventh-section .content {
    height: 100%;
    padding: 50px 0px;
  }
  .third-section .sub-text,
  .sixth-section .content .sub-text,
  .seventh-section .content .section-title {
    margin-bottom: clamp(40px, 9vw, 100px);
  }
  .sixth-section .sub-title-1 {
    text-align: center;
  }
  .content-form-wrapper {
    flex-direction: column;
  }
  .email-input {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .input-wrapper,
  .content-form-wrapper,
  .form-wrapper form,
  .form-wrapper {
    width: 100%;
  }
  footer .social-link-area {
    display: none;
  }
  footer .wrapper {
    flex-direction: column;
  }
  .footer-info {
    width: 100%;
  }
  .fake {
    display: none;
  }
  .footer-nav-items {
    flex-grow: 1;
    max-width: 170px;
  }
  .footer-info .flex-column:first-child {
    margin-right: 30px;
  }
  footer .title {
    margin-bottom: 90px;
  }
  .footer-additional-info.mobile {
    display: block;
  }
  .footer-additional-info.desktop-table {
    display: none;
  }
  .fifth-section .section-title h2 {
    text-align: center;
  }
  footer .login-img-wrapper {
    margin-bottom: 0px !important;
    margin-right: 15px;
  }
  .mobile-menu-additional-info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu-additional-info .social-link-area {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
  .mobile-menu-additional-info .social-link-area div:not(:last-child) {
    margin-right: 0;
  }
  .mobile-menu .main-text-1.tel {
    text-align: left;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .header ul li:not(:first-child) {
    margin-left: clamp(10px, 3.8vw, 60px);
  }
}

h2,
.sub-text {
  opacity: 0 !important;
  transition: all 1s !important;
  transform: translateY(-20px) !important;
  transition-delay: 0.5s !important;
}
h2.visible,
.sub-text.visible {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
.map-wrapper {
  position: relative;
  transition: all 1.5s;
  opacity: 0;
}
.map-wrapper.visible {
  opacity: 1;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.serves-item-wrapper {
  position: relative;
  align-items: center;
  padding: 15px 25px;
  background: linear-gradient(225deg, #ffffff 0%, #e5e7ee 100%);
  border-radius: 28px;
  width: max-content;
  margin-right: 30px;
  user-select: none;
}

.swiper-slide {
  width: auto !important;
}

.serves-item-wrapper img {
  margin-right: 20px;
}
.serves-item-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 28px;
  padding: 2px;
  background: linear-gradient(225deg, #e9ecf7 0%, #ffffff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
.serves-row {
  margin-bottom: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marker {
  position: absolute;
  width: 0px;
  height: 0px;
  background: var(--interface-active);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: inset -1px 4px 4px rgba(0, 0, 0, 0.1);
}
.marker.visible {
  transition-delay: 1.5s;
  width: clamp(14px, 1.3vw, 20px);
  height: clamp(14px, 1.3vw, 20px);
}
.marker:nth-child(1) {
  left: 43.2%;
  top: 14.8%;
}
.marker:nth-child(2) {
  top: 31.4%;
  left: 61.4%;
}
.marker:nth-child(3) {
  top: 42%;
  left: 62.5%;
}
.marker:nth-child(4) {
  top: 29%;
  left: 66%;
}
.marker:nth-child(5) {
  top: 34%;
  left: 84%;
}
.marker:nth-child(6) {
  top: 57%;
  left: 32%;
}
.marker:nth-child(7) {
  top: 20%;
  left: 15%;
}

.marker.visible::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(225deg, #e9ecf7 0%, #ffffff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
.marker.visible::before {
  position: absolute;
  content: "";
  width: clamp(4px, 0.6vw, 8px);
  height: clamp(4px, 0.6vw, 8px);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.marker.visible:hover::before {
  background: #ffffff;
}
.marker div {
  position: absolute;
  padding: 13px 34px;
  background: var(--text-main);
  color: #fff;
  border-radius: 30px;
  top: calc(-100% - 25px);
  transform: translate(-40%, -30%);
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}
.marker div::after {
  position: absolute;
  content: "";
  z-index: -1;
  left: 15%;
  right: 15%;
  top: 15%;
  height: 100%;
  background: rgba(64, 68, 80, 0.36);
  filter: blur(10px);
  border-radius: 30px;
}
.marker:hover div {
  opacity: 1;
}
.shadow-portal {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
.shadow-portal.active {
  background: rgba(64, 68, 80, 0.36);
  pointer-events: unset;
}
body.mobile-menu-active {
  overflow: hidden;
}
.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: -100%;
  top: 0;
  width: 65vw;
  height: 110vh;
  background: #f4f6f9;
  box-shadow: 4px 4px 10px rgba(52, 85, 108, 0.14);
  transition: all 0.5s;
  padding: 21px 30px 30px;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu .header-nav-list {
  display: block;
}
.mobile-menu .header-nav-list li,
.mobile-menu .header ul li:not(:first-child) {
  margin-bottom: 30px;
  margin-left: 0px !important;
}
.mobile-menu .aside-content {
  margin-bottom: 65px;
}
.mobile-menu.active .burger-dots span {
  transform: scale(0);
}
.mobile-menu.active .burger-dots::after {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  transform: rotate(-45deg);
  top: 14px;
}
.mobile-menu.active .burger-dots::before {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  transform: rotate(45deg);
  bottom: 14px;
}
.mobile-menu-additional-info {
  justify-content: space-between;
  align-items: center;
}
.mobile-menu-additional-info .social-link-area {
  align-items: center;
}
.mobile-menu-additional-info .social-link-area div:not(:last-child) {
  margin-right: 20px;
}

/* --dashboard-- */
.panel-wrapper {
  margin-top: 100px;
  margin-bottom: 250px;
}
.panel-wrapper .menu {
  width: 330px;
  margin-right: 20px;
  height: 100%;
}
.panel-wrapper .menu .main-text-2 {
  margin-bottom: 30px;
}
.panel-wrapper .menu .sub-title-3 {
  margin-bottom: 40px;
  margin-left: 30px;
}
.panel-wrapper .menu .btn {
  width: 100%;
  background: #89d971;
  box-shadow: 4px 4px 6px rgba(63, 123, 35, 0.14),
    -4px -4px 4px rgba(231, 255, 225, 0.79);
  border-radius: 20px;
  margin-bottom: 30px;
}
.panel-wrapper .info-row {
  margin-bottom: 20px;
}
.panel-wrapper .content.main {
  width: 100%;
}
.panel-wrapper .content.main .info-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.panel-wrapper .content.main .card-wrapper {
  background: var(--interface-main);
  box-shadow: 4px 4px 6px rgba(52, 85, 108, 0.14),
    -4px -4px 4px rgba(255, 255, 255, 0.79);
  border-radius: 20px;
  padding: 30px 40px;
  margin-bottom: 20px;
}
.panel-wrapper .content.main .card-wrapper::before,
.panel-wrapper .content.main .card-wrapper::after {
  display: none;
}
.panel-wrapper .main-money .value {
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.panel-wrapper .main-money .name {
  margin-bottom: 20px;
}
.panel-wrapper .column-2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.panel-wrapper .table-body .item-wrapper,
.panel-wrapper .table-head {
  width: 100%;
  justify-content: space-between;
}
.panel-wrapper .table-body .item-wrapper {
  background: var(--interface-main);
  padding: 15px 30px;
  /* margin-bottom: 20px; */
  cursor: pointer;
  transition: all 0.3s;
}
.panel-wrapper .table-body hr {
  border: none;
  width: calc(100% - 60px);
  background-color: #dde3eb;
  color: #dde3eb;
  height: 1px;
}
.panel-wrapper .table-body .item-wrapper:hover {
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.79),
    4px 4px 6px rgba(52, 85, 108, 0.14);
  border-radius: 20px;
}
.panel-wrapper .table-body .currency-info {
  align-items: center;
}
.panel-wrapper .content.main .card-wrapper.currency-info-board {
  padding: 30px 10px 40px;
  /* margin-bottom: 20px; */
}

.panel-wrapper .content.main .card-wrapper.currency-info-board .logo-wrapper {
  margin-right: 25px;
}
.panel-wrapper .content.main .card-wrapper.currency-info-board .currency-name {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.panel-wrapper .content.main .card-wrapper.currency-info-board .currency {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  margin-bottom: 5px;
}
.panel-wrapper
  .content.main
  .card-wrapper.currency-info-board
  .currency-changes {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}
.panel-wrapper
  .content.main
  .card-wrapper.currency-info-board
  .currency-changes.plus,
.graph-currency-change.plus {
  color: var(--text-link);
}
.panel-wrapper
  .content.main
  .card-wrapper.currency-info-board
  .currency-changes.minus {
  color: #ea6767;
}
.panel-wrapper .content.main .card-wrapper.currency-info-board .card-title {
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-secondary);
  margin-bottom: 20px;
  padding-left: 30px;
}
.panel-wrapper .content.main .card-wrapper.currency-info-board .table-head {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.panel-wrapper .content.main .card-wrapper.currency-info-board .btn-link {
  margin-top: 34px;
  border: 2px solid var(--text-main);
  box-sizing: border-box;
  border-radius: 30px;
  padding: 14px 34px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  width: max-content;
}
.card-graph-info,
.card-graph-info .flex-column {
  justify-content: space-between;
}
.card-graph-info {
  margin-bottom: 20px;
}
.graph-currency-name {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.graph-currency-value {
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}
.graph-currency-change {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}
.graph-date {
  margin-top: 30px;
  justify-content: space-between;
  background: #f4f6f9;
  box-shadow: inset 4px 4px 8px rgba(52, 85, 108, 0.14);
  border-radius: 30px;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--text-secondary);
}
.graph-date > div {
  padding: 15px 28px;
  cursor: pointer;
  transition: all 0.3s;
}
.graph-date > div.active,
.graph-date > div:hover {
  color: var(--text-main);
  background: #f4f6f9;
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.79),
    4px 4px 6px rgba(52, 85, 108, 0.14);
  border-radius: 30px;
}
